/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  max-width: 1200px;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
  max-width: 1300px; 
}

.movies-header {
  display: flex;
  color: #ffa624;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1100px;  
  margin: 0 auto; 
}

.popular-heading {
  font-size: 24px;
  margin: 0;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.pagination-button {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffa624;
  width: 40px;           
  height: 40px;         
  border-radius: 50%;
  border: 2px solid #333;
}

.pagination-button:hover {
  background-color: #ddd; 
}

.movie-card {
  position: relative;
  width: 23%; 
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.movie-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.movie-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.release-year, .genre, .ratings, .duration {
  margin: 5px 0;
  font-size: 14px;
}

/* Footer Styles */
.footer {
  padding: 40px 20px;
  border-top: 1px solid #444;
  font-family: 'Inter', sans-serif;;
  max-width: 1100px; 
  margin: 100px 0 0 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 8px 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #ffa624;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
.bottom-footer {
  display: flex;
  justify-content: space-between; 
  font-size: 14px;
  color: #bbb;
  padding: 20px ;
  gap: 250px;
  justify-content: flex-start;
   
}

.footer-bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  font-size: 14px;
  color: #bbb;
  gap: 90px; 
}

/* Medium screens (tablets) */
@media (max-width: 1023px) {
  .movie-card {
    width: 48%; 
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .movie-card {
    width: 100%; 
    height: 350px;
  }
  
  .movies-header {
    align-items: flex-start; 
    gap: 10px;
  }
}
