body {
  font-family: Arial, sans-serif;
  background-color: black;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
  max-width: 1300px; 
}

.movie-card {
  position: relative;
  width: 23%; 
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.movie-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.movie-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.release-year, .genre, .ratings, .duration {
  margin: 5px 0;
  font-size: 14px;
}

/* Media query for responsiveness */
@media (max-width: 1200px) {
  .movie-card {
    width: 48%; 
  }
}

@media (max-width: 768px) {
  .movie-card {
    width: 100%; 
  }
}
